.content {
    .alert-pad {
        padding: 0;
        .alert-p-mar {
            margin-left: 25px;
        }
    }
    .content-menu {
        .content-form {
            padding:0;
            border: 5px solid rgb(88, 233, 226);
            background-color: white;
            .form-group {
                margin-left: 0;
                margin-right: 0;
                margin-top: 1rem;
            }
            .form-group-num {
                border-bottom: 1px solid rgba(255, 0, 0, 0.479);
                margin-bottom: 0;
                padding-bottom: 1rem;
            }
            .form-button {
                padding-top: 1rem;
                border-top: 5px solid rgb(88, 233, 226);
                .but {
                    width: 100px;
                    margin-left: 5px;
                    margin-right: 5px;
                    background-color: rgb(88, 233, 226);
                }
            }
        }
    }
    .content-main {
        .table {
            margin-top: 15px;
            background-color: white;

        }
        .tabs-margin {
            margin-top: 15px;
            .borFiles {
                border-left: 1px solid rgb(228, 225, 225);
                padding-left: 7px;
                border-right: 1px solid rgb(228, 225, 225);
                border-bottom: 1px solid rgb(228, 225, 225);
                margin-bottom: 10px;
                background-color: white;
            }
        }
        
    }
}